.container-bootcamp {
  margin-top: 70px;
  margin-bottom: 70px;
  padding-bottom: 50px;
  background:linear-gradient(2deg, #e0dcdc 0%, #ffffff 80%);
}


.header-text span {
  font-size: 25px;
  font-weight: 400;
  text-transform: capitalize;
}

.header-text h1 {
  font-weight: 700;
}

.main-section {
  display: flex;
  justify-content: space-between;
}

.items-list {
  text-decoration: none;
  width: 42%;
}

.items-list ul {
  margin: 60px 10px;
  padding: 50px 0 0 50px;
  background: #ffffff;
  box-shadow: 0px 0px 22px 0px #dad7d7;
}

.items-list li {
  margin: 15px;
}

.nav-link span {
  font-size: 20px;
}

.imag {
  width: 650px;
  height: 700px;
}

.nav-item  :hover{
 color: #361cac;
 /* background-color: #361cac; */
}
